.quiz h1 {
  padding: 30px 0 5px 0;
}

.usernameLabel {
  font-size: 22px;
  color: white;
  margin-bottom: 30px;
  color: #e98b44;
}

.username {
  color: #e98b44;
  font-size: 17px;
}

.finishedQuiz p {
  color: white;
}

.finishedQuiz p:first-child {
  margin: 30px 0 10px 0;
}

.finishedQuiz p:nth-of-type(2) {
  margin-bottom: 40px;
}
